body, a, h4{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: #ccc;
}

a{
    text-decoration: none;
    color: black
}

/*------------------------------Title picture------------------------------*/

.titlePicture{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.titlePicture img{
    margin: 0;
    width: 600px;
    height: 100px;
}
/*------------------------------Articles------------------------------*/

.articleList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    
}

/*--------------------------Single article--------------------------*/

.article{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 10px;
    padding: 10px;
    border: 4px solid black;
    background-color: bisque;
    border-radius: 10px;
}

.headline{
    font: bold 25px serif;
    margin-top: 0;
}

.abstract{
    font: 15px sans-serif;
}

.picture{
    height: 100px;
    width: 100px;
    align-self: center;
}

.moreInf > a{
    color: blue;
    font: bold 15px sans-serif;
}

.madeBy{
    margin-top: 0;
}

/*----------------------------Filter--------------------------------*/

.numberOfArticles{
    display: flex;
    flex-direction: row;
    border: 4px solid black;
    margin: 0 500px;
    justify-content: center;
    padding: 10px;
    background-color: bisque;
    border-color: black;
    border-radius: 10px;
}

.numberOfArticles :first-child{
    margin-right: 10px;
    font: 15px sans-serif;
}

/*----------------------------Add Form--------------------------------*/

.addForm{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.addForm form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
    border: 4px solid black;
    background-color: bisque;
    border-color: black;
    border-radius: 10px;
}

.addForm form :first-child{
    align-self: center;
}

.addForm form div{
    margin: 5px 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.addForm form div span{
    width: 100px;
    font: 20px sans-serif;
}

.addForm form div input{
    width: 300px;
    height: 30px;
    font: 15px sans-serif;
}

.addArticleButton{
    align-self: center;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100px;
    height: 30px;
    background-color: greenyellow;
    border: 4px solid black;
    border-radius: 10px;
}